In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium
import warnings
warnings.filterwarnings('ignore')

In [2]:
line = pd.read_csv('tram/트램선로(상대).csv')
new_line = pd.read_csv('tram/new_line(상대).csv')

In [3]:
line.head()

             E            N       X       Y
0  227333.3193  448983.2783  0.0000  0.0000
1  227339.0309  448986.8473  5.7116  3.5690
2  227339.6558  448987.1821  6.3365  3.9038
3  227340.5482  448987.7398  7.2289  4.4615
4  227341.6195  448988.2980  8.3002  5.0197

In [4]:
x,y = line['E'].iloc[0],line['N'].iloc[0]

In [5]:
line['X'] = line['E'] - x
line['Y'] = line['N'] - y

In [6]:
#line.to_csv('tram/트램선로(상대).csv',index=False)

In [7]:
new_line['X'] = new_line['E'] - x
new_line['Y'] = new_line['N'] - y

In [8]:
#new_line.to_csv('tram/new_line(상대).csv',index=False)

In [9]:
sample = pd.read_excel('tram/per_meter_points(상대).xlsx',sheet_name = 'autotramMap')
x1 = pd.read_excel('tram/per_meter_points(상대).xlsx',sheet_name = 'x1',index=False)
x2 = pd.read_excel('tram/per_meter_points(상대).xlsx',sheet_name = 'x2',index=False)
x3_1 = pd.read_excel('tram/per_meter_points(상대).xlsx',sheet_name = 'x3-1',index=False)
x3_2 = pd.read_excel('tram/per_meter_points(상대).xlsx',sheet_name = 'x3-2',index=False)
x2x3 = pd.read_excel('tram/per_meter_points(상대).xlsx',sheet_name = 'x2-x3',index=False)

In [10]:
sample['X'] = sample['E'] - x
sample['Y'] = sample['N'] - y

x1['X'] = x1['E'] - x
x1['Y'] = x1['N'] - y
x2['X'] =x2['E'] - x
x2['Y'] = x2['N'] - y
x3_1['X'] = x3_1['E'] - x
x3_1['Y'] = x3_1['N'] - y
x3_2['X'] = x3_2['E'] - x
x3_2['Y'] = x3_2['N'] - y
x2x3['X'] = x2x3['E'] - x
x2x3['Y'] = x2x3['N'] - y

In [11]:
with pd.ExcelWriter('tram/per_meter_points(상대).xlsx') as writer:
    sample.to_excel(writer,sheet_name = 'autotramMap')
    x1.to_excel(writer,sheet_name = 'x1')
    x2.to_excel(writer,sheet_name = 'x2')
    x3_1.to_excel(writer,sheet_name = 'x3-1')
    x3_2.to_excel(writer,sheet_name = 'x3-2')
    x2x3.to_excel(writer,sheet_name = 'x2-x3')

In [33]:
new_line_divide = pd.read_csv('tram/new_line_divide(상대).csv')

In [34]:
new_line_divide['X'] = new_line_divide['E'] - x
new_line_divide['Y'] = new_line_divide['N'] - y

In [35]:
new_line_divide.to_csv('tram/new_line_divide(상대).csv',index=False)

In [15]:
autotram = pd.read_excel('Autotram_Map(상대).xlsx')

In [16]:
autotram['X'] = autotram['E'] - x
autotram['Y'] = autotram['N'] - y

In [17]:
autotram.to_excel('Autotram_Map(상대).xlsx',index=False)